.footer{
  background-color: #592099;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 
.title{
  color: #dce6f1;
  font-size: 25px;
  padding: 10px 0px;
  font-weight: 500;
}

.button{
  display: flex;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
}
  .button:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }


.register{
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
.register-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

.input-filed{
  height: 5vh;
  width: 40vh;
  margin-bottom: 10px;
}

.submit-button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  /* background: transparent; */
  color: #000000;
  box-shadow: 0 0 0 2px #000000 inset;
  width: 20vw;
}

h3{
color: #000a47;
font-size: 25px;
}

.footer-button{
   
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  background: #FCFCFD;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.footer-button:hover {
      box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
      transform: translateY(-2px);
  }
  .footer-button:active{
      box-shadow: inset 0px 3px 7px #d6d6e7;
      transform: translateY(2px);
  }

  .footer-main{
    margin-top: 70vh;
  }

  .input-card{
    background-color: rgb(114, 114, 145);
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .create-template-main{
background-color: #000a47;
   
  } */
  .toolbox{
    background-color: #000a47;
  }

  .toolbox-button{
    width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.toolbox span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.toolbox-button:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.toolbox-button:hover svg {
  stroke-dashoffset: -480;
}


  .input-button{
     width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.input-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.input-button:active {
    color: #000
}

.input-button:active:after {
    background: transparent;
}

.input-button:hover:before {
    opacity: 1;
}

.input-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }